name: Test
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Prepare repo
        uses: actions/checkout@master
      - uses: actions/setup-python@v2
        with:
            python-version: '3.13'
      - name: Test
        uses: onichandame/python-test-action@master

